*{
    text-decoration: none;
    list-style: none;
    color: #435566;
    font-size: 1.5vw;
    font-family: 'Raleway', serif;
}
.h2{
    margin-top: 10vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* top and bottom nav bars */
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li{
    margin-left: 30px;
    margin-right: 30px;
}
header a{
    color: lightblue;
}
a{
    font-size: 1.3vw;
}
/* words on image */
header{
    width: 100%;
}
header img{
    width: 100%;
}
.header{
    position: relative;
    text-align: center;
    width: 100%;
}
.words{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* monument */
.center1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5vh;
    font-size: 3.0vw;
    letter-spacing: 5px;
}
/* a life style magazine */
.center2{ 
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 5vh;
} 
/* 3 articles */
h2{
    text-align: center;
}
.FTA{
    display: flex;
    justify-content: space-between;
    width: 87.5%;
}
#archive{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#archive img{
    width: 95%;
}
#archive p{
    text-align: center;
    color: #9599A8;
    font-size: 1.2vw;
}
.more{
    border: solid 1px black;
    padding: .5vh 1vw;
}

/* about the mag */
.ATM{
    margin-top: 6vh;
    margin-bottom: 6vh;
    background-color: lightcyan;
    text-align:center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vh;
    padding-bottom: 6vh;
}
.ATM p{
    width: 70%;
}
/* grid formated gallery */
.I20{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgGallery{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80;
    flex-wrap: wrap;
    margin: 1vh;
}
.imgGallery img{
    height: 30%;
    width: 30%;
    margin: 5px;
}
/* this is the bigger form at bottom of page */
.form{
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.form h2{
    font-size: 2vh;
    margin-bottom: 3vh;
}
.comment{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: repeat(3,1fr);
    height: 25vh;
}
input {
    width: 25vw;
    margin: 5px;
    border: solid #435566 1.2px;
    font-size: .8em;
    padding: 3px;
}
.name{
    grid-row: 1/ span 1;
    grid-column: 1/ span 1;
}
.form .email{
    grid-row: 1/span 1;
    grid-column: 2/ span 1;
}
.subject{
    grid-row: 1/span 1;
    grid-column: 3/span 1;
}
.message{
    font-size: .8em;
    padding: 3px;
    grid-row: 2/span 1;
    grid-column: 1/span 3;
    resize: none;
    margin: 5px;
    border: solid #435566 1.2px;
}
.submit{
    width: auto;
    grid-row: 3/span 1;
    grid-column: 1/span 3;
    color: #435566;
    font-size: .8em;
}
/* footer */
footer{
    background-color: lightcyan;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.subscribe{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.submit2{
    width: 12.5%;
    background-color: lightcyan;
    margin-bottom: 1vh;
}
.email2{
    width: 25%;
    text-align: center;
    margin-bottom: 1vh;
}
footer p{
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #435566;
}
footer i{
    font-size: 3.5vh;
}
footer li{
    margin: 1.5vw;
}
/* media querey for form (so far) */
@media screen and (max-width: 375px){
    .subscribe{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgGallery{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    body{
        display:flex;
        flex-direction: column;
    }
    .comment{
        display: flex;
        flex-direction: column;
    }
    .FTA{
        display:flex;
        flex-direction: column;
    }
    .FTA img{
        height: auto;
        width: 80%;
    }
}