*{
    text-decoration: none;
    list-style: none;
    color: #6C707A;
    font-size: 1.5vw;
    font-family: 'Raleway', serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* top and bottom nav bars */
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li{
    margin-left: 30px;
    margin-right: 30px;
}
/* words on image */
header{
    width: 100%;
}
header img{
    width: 90%
}
.header{
    position: relative;
    text-align: center;
    width: 100%;
}
.words{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* monument */
.center1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5vh;
    font-size: 3.0vw;
}
/* a life style magazine */
.center2{ 
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 5vh;
} 
/* 3 articles */
h2{
    text-align: center;
}
.FTA{
    display: flex;
    justify-content: space-between;
    width: 87.5%;
}
#archive{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#archive img{
    width: 95%;
}
#archive p{
    text-align: center;
    color: #9599A8;
}
/* about the mag */
.ATM{
    background-color: lightcyan;
    text-align:center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ATM p{
    width: 80%;
}

/* this is the bigger form at bottom of page */

.comment{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: repeat(3,1fr);
    height: 20vh;
    margin: 50px;
}
input {
    margin: 10px;
    border: solid silver 3px;
    font-size: 2em;
}
.name{
    grid-row: 1/ span 1;
    grid-column: 1/ span 1;
}
.email{
    grid-row: 1/span 1;
    grid-column: 2/ span 1;
}
.subject{
    grid-row: 1/span 1;
    grid-column: 3/span 1;
}
.message{
    grid-row: 2/span 1;
    grid-column: 1/span 3;
    resize: none;
    margin: 10px;
    border: solid silver 3px;
    font-size: 2em;
}
.submit{
    grid-row: 3/span 1;
    grid-column: 1/span 3;
}
/* media querey for form (so far) */
@media screen and (max-width: 700px){
    form{
        display: flex;
        flex-direction: column;
    }
    .submit{
        padding: 20px 20px 40px 20px;
    }
}