*{
    width: 100%;
    text-decoration: none;
    font-family: 'Raleway', serif;
    font-weight: 700;
    color: dimgray;
    padding: 0;
    margin: 0;
}
html{
    padding: 0;
    position: cover;
}
main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}
article{
    width:80%;
    margin: 0 auto;
}
body{
    position: relative;
}

nav{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
header{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

header li a{
    margin: 10px;
}
nav ul{
    display: flex;
    justify-content: center;
}
header li{
    text-align: center;
    font-size: 8px;
    list-style: none;
    color: lightblue;
    width: 12.5%;
}
p{
    font-family: lato;
    font-weight: lighter;
    color: darkgray;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:80%;
}
a:visited{
    text-decoration: none; color: lightblue;
}
footer li{
    width: 14%;
    margin-bottom: 2.5px;
    list-style: none;
    font-size: 10px;
}
footer a:visited{
    color:dimgray;
}
footer{
    background-color: lightcyan;
    text-align: center;
    color: dimgray;
    position: cover;
    padding-bottom: 2.5px;
}
footer p{
    max-width: 100%;
}
header h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
img{
    position: relative;
}
h2{
    margin:10px;
    margin-left: 0;
    font-size: 11px;
}
h3{
    font-size: 12.5px;
}
.issues{
    margin-left:40px;
    font-size: 10px;
    width: 50%;
}
.hipsters{
    width: 50%;
}